<template>
  <ul>
    <li v-if="props.name">
      <b>name:</b> {{ props.name }}
    </li>
    <li v-if="props.description">
      <b>description:</b> {{ props.description }}
    </li>
    <li v-if="props.distance">
      <b>distance:</b> {{ props.distance }}
    </li>
    <li v-if="props.routeType">
      <b>type:</b> {{ props.routeType }}
    </li>
  </ul>
</template>

<script>
  import Feature from 'ol/Feature'

  export default {
    name: 'Inspect',
    props: {
      feature: Feature
    },
    computed: {
      props() {
        if (this.feature !== undefined) {
          let target = JSON.parse(JSON.stringify(this.feature));
          return target;
        }
        return false;
      },
    }
  }
</script>

<style scoped>
  ul {
    list-style: none;
    padding-right: 15px;
  }
</style>