<template>
  <div ref="map-root"
       style="width: 100%; height: 100%">
  </div>
</template>

<script>
  import View from 'ol/View'
  import Map from 'ol/Map'
  import TileLayer from 'ol/layer/Tile'
  import OSM from 'ol/source/OSM'
  import VectorLayer from 'ol/layer/Vector'
  import VectorSource from 'ol/source/Vector'
  import GeoJSON from 'ol/format/GeoJSON'
  import {Circle as CircleStyle, Fill, Stroke, Style} from 'ol/style';

  import 'ol/ol.css';

  const image = new CircleStyle({
    radius: 5,
    fill: null,
    stroke: new Stroke({color: 'red', width: 3}),
  });

  const styles = {
  'Point': new Style({
    image: image,
  }),
  'LineString': new Style({
    stroke: new Stroke({
      color: 'green',
      width: 1,
    }),
  }),
  'MultiLineString': new Style({
    stroke: new Stroke({
      color: 'red',
      width: 5
    }),
    width: 5
  }),
  'MultiPoint': new Style({
    image: image,
  }),
  'MultiPolygon': new Style({
    stroke: new Stroke({
      color: 'yellow',
      width: 1,
    }),
    fill: new Fill({
      color: 'rgba(255, 255, 0, 0.1)',
    }),
  }),
  'Polygon': new Style({
    stroke: new Stroke({
      color: 'blue',
      lineDash: [4],
      width: 3,
    }),
    fill: new Fill({
      color: 'rgba(0, 0, 255, 0.1)',
    }),
  }),
  'GeometryCollection': new Style({
    stroke: new Stroke({
      color: 'magenta',
      width: 2,
    }),
    fill: new Fill({
      color: 'magenta',
    }),
    image: new CircleStyle({
      radius: 10,
      fill: null,
      stroke: new Stroke({
        color: 'magenta',
      }),
    }),
  }),
  'Circle': new Style({
    stroke: new Stroke({
      color: 'red',
      width: 2,
    }),
    fill: new Fill({
      color: 'rgba(255,0,0,0.2)',
    }),
  }),
};

const styleFunction = function (feature) {
    return styles[feature.getGeometry().getType()];
};

  export default {
    name: 'MapContainer',
    components: {},
    props: {
        geojson: Object,
        beginPoint: Array(),
        endPoint: Array()
    },
    data: () => ({
      olMap: null,
      vectorLayer: null,
      selectedFeature: null
    }),
    mounted() {
        this.vectorLayer = new VectorLayer({
            source: new VectorSource({
                features: [],
            }),
            style: styleFunction,
        })

        this.olMap = new Map({
            target: this.$refs['map-root'],
            layers: [
                new TileLayer({
                    source: new OSM()
                }),
                this.vectorLayer
            ],
            view: new View({
                zoom: 0,
                center: [0, 0],
                constrainResolution: true
            }),
        });

        this.updateSource(this.geojson);

        this.olMap.on('pointermove', (event) => {
            const hovered = this.olMap.forEachFeatureAtPixel(event.pixel, function(feature){
                let target = JSON.parse(JSON.stringify(feature));
                return target.values_;
            });
            if (hovered !== undefined && hovered !== this.selectedFeature) {
                this.selectedFeature = hovered;
            }
        });

        this.olMap.on('click', (event) => {
            this.clickMap(event.coordinate);
        })  
    },
    watch: {
        geojson(value) {
            this.updateSource(value)
        },
        selectedFeature(value) {
            this.$emit('select', value)
        }
    },
    methods: {
      updateSource(geojson) {
        const view = this.olMap.getView();
        const source = this.vectorLayer.getSource();

        const features = new GeoJSON({
          featureProjection: 'EPSG:3857',
        }).readFeatures(geojson);

        source.clear();
        source.addFeatures(features);

        view.fit(source.getExtent())
      },
      clickMap(coordinates) {
        this.$emit('clickMap', {
          coordinates: coordinates
        })
      }
    }
  }
</script>