<template>
  <div id="app">
    <div class="cell cell-map">
      <MapContainer 
        :geojson="geojson" 
        v-on:select="selected = $event"
        @clickMap="getCoordinates"
      ></MapContainer>
    </div>
    <div class="cell cell-navigate">
      <label for="begin">От куда: </label>
      <input id="begin" type="text" size="40" v-model="startPoint">

      <label for="end">Куда: </label>
      <input id="end" type="text" size="40" v-model="endPoint">

      <label for="vehicle">Способ передвижения: </label>
      <select id="vehicle" v-model="vehicle">
        <option value="foot">Пешком</option>
        <option value="bike">Велосипед</option>
        <option value="bike">Самокат</option>
      </select>

      <input type="button" value="Маршрут" v-on:click="navigate">
      <input type="button" value="Сбросить" v-on:click="remove">
    </div>
    <div class="cell cell-edit">
      <Edit :geojson="geojson" v-on:change="geojson = $event"></Edit>
    </div>
    <div class="cell cell-inspect">
      <Inspect :feature="selected"></Inspect>
    </div>
  </div>
</template>

<script>
import MapContainer from "./components/MapContainer";
import Edit from "./components/Edit";
import Inspect from './components/Inspect'
import axios from 'axios'

export default {
  name: "App",
  components: {
    Inspect,
    Edit,
    MapContainer
  },
  data: () => ({
    selected: undefined,
    geojson: {
      'type': 'Feature',
      'properties': {
        'name': 'Moscow, Russia',
        'description': 'Москва́ — столица России, город федерального значения, административный центр Центрального федерального округа и центр Московской области, в состав которой не входит. Крупнейший по численности населения город России и её субъект — 12 655 050 человек (2021), самый населённый из городов, полностью расположенных в Европе, входит в десятку городов мира по численности населения, крупнейший русскоязычный город в мире. Центр Московской городской агломерации.'
      },
      'geometry': {
        'type': 'Point',
        'coordinates': [37.617644, 55.755819],
      },
    },
    startPoint: undefined,
    endPoint: undefined,
    vehicle: 'foot'
  }),
  methods: {
    navigate: async function() {
      if (this.startPoint === undefined || this.endPoint === undefined) {
        alert('Укажите начальную и конечную точку на карте');
        return false;
      }

      let startPoint = JSON.parse(JSON.stringify(this.startPoint));
      let endPoint = JSON.parse(JSON.stringify(this.endPoint));
      let coordinates = [startPoint, endPoint];
      const data = { 
        "points": coordinates,
        "vehicle": this.vehicle,
        "points_encoded":false, 
        "locale":"ru"
      };
      console.log('request...');
      let response;
      try {
        response = await axios.post("http://stavteam2021.ddns.net:5000/Navigate", data);
      } catch (e) {
        alert('Не удалось построить маршрут... Попробуйте еще раз.');
      }
      console.log(response);
      if (response.status === 200) {
        console.log(response.data[0].coordinates);
        if (response.data[0].coordinates.length === 0) {
          alert('Маршрут не найден, попробуйте еще раз!');
        }
        if (response.data[0].coordinates.length === 1) {
          console.log('type:Feature');
          this.geojson = {
            'type': 'Feature',
            'properties': {
              'name': 'Маршрут построен',
              'description': `Маршрут построен из точки [${this.startPoint}] в точку [${this.endPoint}]`,
              'distance': response.data[0].distance,
              'routeType': response.data[0].routeType,
              'time': response.data[0].time
            },
            'geometry': {
              'type': 'MultiLineString',
              'coordinates': response.data[0].coordinates,
            },
          }
          console.log(this.geojson);
        }
        if (response.data[0].coordinates.length > 1) {
          console.log('type:GeometryCollection');
          let geometries = [];
          response.data[0].coordinates.forEach(coordinates => {
            let multiLineString = {
              'type':'MultiLineString',
              'coordinates': JSON.parse(JSON.stringify(coordinates))
            }
            geometries.push(multiLineString);
          });

          this.geojson = {
            'type':'GeometryCollection',
            'properties': {
              'name': 'Маршрут построен',
              'description': `Маршрут построен из точки [${this.startPoint}] в точку [${this.endPoint}]`,
              'distance': response.data[0].distance,
              'routeType': response.data[0].routeType,
              'time': response.data[0].time
            },
            'geometries': geometries
          }
          console.log(this.geojson);
        }
        console.log('...done');
      } else {
        alert('Что-то пошло не так... Попробуйте еще раз.');
      }
    },
    remove: function() {
      this.startPoint = undefined,
      this.endPoint = undefined
    },
    getCoordinates: function(data) {
      if (this.startPoint === undefined) {
        this.startPoint = data.coordinates;
      } else if(this.endPoint === undefined) {
        this.endPoint = data.coordinates;
      }
    }
  }
};
</script>

<style>
  html, body {
    height: 100%;
    margin: 0;
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    height: 100%;
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
  }

  .cell {
    border-radius: 4px;
    background-color: lightgrey;
  }

  .cell-map {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .cell-navigate {
    grid-column: 2;
    grid-row: 1;
    width: 420px;
  }

  .cell-edit {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 420px;
  }

  .cell-inspect {
    grid-column: 2;
    grid-row-start: 4;
    grid-row-end: 6;
    width: 420px;
    height: 200px;
    overflow-y: scroll;
  }
</style>
